* {
  font-family: "ubuntu";
}
:root {
  --calendar-width: 100%;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  border: 1px solid black;
  width: var(--calendar-width);
}
th {
  height: 50px;
  width: 14%;
  text-align: center;
}
table {
  width: var(--calendar-width);
  border: none;
}
td {
  height: 40px;
  height: 100vh;
  transition: 0.3s;
  text-align: end;
  vertical-align: text-top;
  font-size: 1rem;
  background: #ddd;
  padding: 8px;
}
td:nth-child(1) {
  text-align: start;
}
td:hover {
  box-shadow: inset 0 0 1000px #0595;
}
.weekend {
  background: gray;
  cursor: not-allowed;
}
h1 {
  text-shadow: 0 0 10px gray;
  font-size: 2rem;
}
label button {
  padding: 1rem;
  font-size: 1.5rem;
  background: greenyellow;
  border: none;
}

.popclose {
  display: none;
}
.popopen {
  position: fixed;
  background-color: white;
  top: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.popopen button {
  border: none;
  padding: 1em;
  background: orangered;
  color: white;
  transition: 0.3s;
}
.popopen button:hover {
  background: white;
  color: orangered;
  border: orangered 1px solid;
}

.fade {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0007;
  position: fixed;
}
.fadeclose {
  display: none;
}
.reservation {
  border: solid 1px;
  height: max-content;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: inset 0 0 100px #fff5;
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }

  :root {
    --calendar-width: 100%;
  }
  td {
    height: 10rem;
  }
}
