* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table {
  width: 80%;
}
td {
  height: 40px;
  transition: 0.3s;
}
td:hover {
  box-shadow: inset 0 0 10px blue;
}

tr {
  width: 50px;
}
